p {
  font-size: 16px;
  color: black;
  line-height: 1.2;
  text-align: center;
  font-weight: regular;
  font-family: futura;
}

body {
  #positioned {
    position: relative;
    top: 30px;
    left: 30px;
    width: 500px;
height: 1400px;
margin: 0 auto;

}

.frame{
  width: 250px;
  height: 150px;
  margin: 12px;
  padding: 5px;
  border: 2px solid black;
  background-color: cyan;
}

#positioned {
  position: relative;
  top: 30px;
  left: 30px;
}

h1 {
  position: center;
  width: 500px;
  margin: 0 auto;
  background: white;
  padding: 10px;
}
